<div class="container-fluid p-0 g-0 m-0 vh-100">
    <div class="row justify-content-center g-0">
        <!--Navigation bar-->
        <div class="col-sm-12">
            <div class="navigation-bar p-3">
                <nav class="navbar navbar-expand">
                    <a class="navbar-restaurant link-dark text-decoration-none h4 mx-4" href="#" >Restaurants</a>
                    <a class="navbar-restaurant link-dark text-decoration-none h4 mx-4" >Reservations</a>    
                    <a class="navbar-restaurant link-dark text-decoration-none h4 mx-4" >Menus</a>
                    
                    <div class="col-md-6 navigation-bar mx-4 d-flex justify-content-end">
                    
                        <div class="col-md-6 d-flex justify-content-center">
                            <a (click)="navigateToHome()" class="brand-title link-dark text-decoration-none h3" style="font-family: BerkshireSwash-Regular;" href="/home">Reserve & Dine</a> 
                        </div>

                        <form class="form-inline my-2 my-lg-0">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                </div>
                                <div class="col">
                                    <button class="btn btn-dark my-2 my-sm-0" type="button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <a href="/user" class="link-dark"><i class="fa-2x fa-solid fa-user justify-content-end"></i></a> 
                        </div>
                    </div>
    
                </nav>
            </div>
        </div>
    </div>

    <!--Section Hero-->

    <!--Presentation-->
    <div class="row">
        <div class="col-6 m-2">
            <img class="img-fluid" src="./assets/images/restaurant-first-photo.jpg" alt="restaurant">
        </div>
        <div class="col mt-4">
            <div class="col d-flex mt-4">
                <h2>Mike's Bakery</h2>
            </div>
            <div class="col-md-10 d-flex mt-4 mb-4">
                <p class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut onsectetur adipiscing elit</p>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn reservation-button">Reserve</button>
                </div>
                <div class="col-md-10 mt-1">
                    <div><p class="h5">9:00 AM - 11:00 PM today</p></div>
                </div>
            </div>
        </div>
    </div>

    <!--Menus-->
    <div class="row">
        
        <div class="row mt-4">
            <div class="col-12 mt-3 text-center">
                <p class="h2 fw-bold">Menus</p>
            </div>
        </div>

        <div class="row mt-4 d-flex flex-wrap justify-content-center">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img class="img-fluid ms-4 image-container" src="./assets/images/bakery1.jpeg" alt="bakery1">
                <p class="h3 mt-3">Bread</p>
                <p class="h4 fw-bold">2.99$</p>
                <button class="btn reservation-button mt-2 h3">More</button>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img class="img-fluid ms-4 mr-4 image-container" src="./assets/images/bakery2.jpg" alt="bakery1">
                <p class="h3 mt-3">Sweet bread</p>
                <p class="h4 fw-bold">2.99$</p>
                <button class="btn reservation-button mt-2 h3">More</button>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img class="img-fluid ms-4 mr-4 image-container" src="./assets/images/bakery3.jpg" alt="bakery1">
                <p class="h3 mt-3">Cakes and bread</p>
                <p class="h4 fw-bold">2.99$</p>
                <button class="btn reservation-button mt-2 h3">More</button>
            </div>
        </div>
    </div>

    <!--Schedules-->
    <div class="row justify-content-center mt-4 mb-4">
        
        <div class="row mt-4">
            <div class="col-12 mt-3 text-center">
                <p class="h2 fw-bold">Schedules</p>
            </div>
        </div>

        <div class="col-md-8 mt-4">
            <div class="table-container">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Schedule</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <td>10:00 AM - 10:00 PM</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>10:00 AM - 10:00 PM</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>10:00 AM - 10:00 PM</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>10:00 AM - 10:00 PM</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>10:00 AM - 11:00 PM</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>10:00 AM - 11:00 PM</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>11:00 AM - 9:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer-row row mb-4 " style="background-color: black;">
        <footer class="col-md-12 d-flex mt-4 mb-4 justify-content-center">
            <div class="col-md-9 d-flex mt-4 mb-4 justify-content-center">
                <h1 class="h1 text-white mt-4 mb-4">Reserve & Dine</h1>
            </div>
        </footer>
    </div>
</div>
