<section>
    <div class="container-fluid px-0">
        <div class="row justify-content-center g-0">
            <div class="col-md-4 vh-100">

                <!--Title-->
                <h1 class="h1 text-center mt-4 mb-4 ">Reserve & Dine</h1>
                <h2 class="h2 text-center m-2 mb-3">Welcome back</h2>
                <p class="text-center m-2 mb-3">Welcome back! Please enter your details</p>

                <!--Form-->
              <div class="form-group mx-2">
                <form (ngSubmit)="signIn()" #loginForm="ngForm">
                  <label class="m-2">Email</label>
                  <input class="form-control border border-dark ml-2 mb-3 w-100"
                      placeholder="Enter your email"
                      type="email"
                      [(ngModel)]="email"
                      name="email"
                      required/>
                  <label class="m-2">Password</label>
                  <input class="form-control border border-dark ml-2 mb-3 w-100"
                      placeholder="Enter your password"
                      type="password"
                      [(ngModel)]="password"
                      name="password"
                      required/>
                      <div class="d-flex justify-content-center">
                        <button class="sign-in-button border border-white btn btn-primary m-3 w-75"
                                type="submit">Sign in</button>
                      </div>
                    </form>
              </div>

              <!--Error Message-->
              <div *ngIf="isLoginAttempted && errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>

                <!--SignIn-->
                <div class="form-check mx-4">
                    <input class="form-check-input border border-dark" type="checkbox" id="flexFormCheck">
                    <label class="form-check-label mb-4" for="flexFormCheck">
                        Remember me
                    </label>
                    <a class="m-4 text-decoration-none" href="">Forgot password</a>
                </div>

                <div class="sign-in-buttons text-center">
                    <button class="btn border border-dark btn-white m-3 w-75" type="button"><i class="fa-brands fa-google" ></i> Sign in with Google</button>
                </div>
                <p class="text-center mt-2">Don't have an account? <a href="">Sign up for free</a></p>
            </div>
            <div class="col-md-8 vh-100 b-0 object-cover">
                <!--Image-->
                <img src="../../assets/images/image.png" class="img-fluid d-none d-md-block" alt="Your Image">
            </div>
        </div>
    </div>
</section>
