.navigation-bar {
    background-color: #FF5757;
}

.welcome-title, h1, .restaurants-section {
    font-family: 'BerkshireSwash-Regular';
    font-size: 3.0em;
    font-weight: 700;
}

.reservation-button {
    background-color: #FF5757;
}

button{
    font-family: 'Poppins-Medium';    
}

a {
    font-family: 'Poppins-Medium';
    font-weight: 700;
}