<section>
    <div class="container-fluid px-0">
        <div class="row justify-content-center g-0">
            <div class="col-md-4 vh-100">
                
                <!--Title-->
                <h1 class="h1 text-center mt-4 mb-4 ">Reserve & Dine</h1>
                <h2 class="h2 text-center m-2 mb-3">Welcome</h2>
                <p class="text-center m-2 mb-0">Welcome! Sign up with us</p>                                
                
                <!--Form-->
                <div class="form-group mt-1 mx-2">
                    <form>
                        <label class="m-2">Email</label>
                        <input class="form-control border border-dark ml-2 mb-3 w-100" placeholder="Enter your email" type="email" required/>
                        <label class="m-2">Password</label>
                        <input class="form-control border border-dark ml-2 mb-3 w-100" placeholder="Enter your password" type="password" required/>
                        <label class="m-2">Username</label>
                        <input class="form-control border border-dark ml-2 mb-3 w-100" type="text" placeholder="Enter your username">
                    </form>    
                </div>
                
                <!--SignIn-->
                <div class="form-check mx-4">
                    <input class="form-check-input border border-dark" type="checkbox" id="flexFormCheck">
                    <label class="form-check-label mb-4" for="flexFormCheck">
                        Remember me
                    </label>
                    <a class="m-4 text-decoration-none" href="">Forgot password</a>
                </div>
                
                <div class="sign-up-buttons text-center mt-1">
                    <button (click)="navigateToHomePage()" class="sign-up-button border border-white btn btn-primary mt-1 m-3 w-75 " type="submit">Sign up</button>
                    <button class="btn border border-dark btn-white mt-1 m-3 w-75" type="button"><i class="fa-brands fa-google" ></i> Sign up with Google</button>
                </div>
                <p class="text-center mt-0" style="color: black;">Have an account? <a href="">Sign in for free</a></p>
            </div>
            <div class="col-md-8 vh-100 b-0 object-cover">
                <!-- Your image here -->
                <img src="../../assets/images/image.png" class="img-fluid d-none d-md-block" alt="Your Image">
            </div>
        </div>
    </div>
</section>

